body {
	height: 100%;
}
.titulo {
  height: 100%;
  width: 100px;
  background-color: blue;
}

.articleContainer{
  background-color: white;
}

body {
	width: 100%;
	background-color: pink;	
}


.section{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  background-color: red;
}
.articleContainer1{
	width: 1000px;
	height: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: purple;
}

#titulo{
	text-align: center;
	background-color: white;
}
.container1{
  float:left;
  width: 440px;
  height: 600px;
  background-color: blue;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  
}

#movieimg{
	width:90%;
	 display: block;
      margin-left: auto;
      margin-right: auto;
      border:none; 
		
}
.container2{
  float:right;
  width: 440px;
  height: 600px;
  position: relative;
  background-color: green;
  position: relative;
  margin-top: 30px;
  margin-right: 30px;
}
 .container3{
	float: right;
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  width: 940px;
  height: 300px;
  margin-top: 30px;
  background-color: orange;
}
#menu-horizontal li{  
      float: left;
      padding-left: 20px;
} 
ul {
    list-style: none;
}	
li:before {
    content: "-"; 
    padding-right: 0px;
}

#copyright{
	text-align: center;
	background-color: white;
}